<template>

  <keep-alive>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      persistent
      transition="dialog-bottom-transition"
    >
      <!-- menggunakan dynamic component dgn :is, nantinya component ini bisa diisi dgn komponen apa saja, Login comp contohnya-->
      <component :is="currentComponent" @closed="setDialogStatus"></component>
      <!-- @closeed diakses dgn menggunakan emit pada child componentnya -->
    </v-dialog>
  </keep-alive>

</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {

  components: {
    Login : () => import('./Login.vue'),
    Register: () => import('./Register.vue'),
    CreateBlog: () => import('./CreateBlog.vue'),
    EditBlog: () => import('./EditBlog.vue')
  },

  computed: {
    ...mapGetters({
      dialogStatus: 'dialog/status',
      currentComponent: 'dialog/component',
    }),
    dialog: {
      get(){
        return this.dialogStatus
      },
      set(value){
        this.setDialogStatus(value)
      },
    }
  },

  methods: {
    ...mapActions({
      setDialogStatus: 'dialog/setStatus',
    }),
  }

}
</script>
