<template>
  <v-card>
    <v-toolbar dark color="light-blue lighten-1">
      <v-btn icon dark @click.native="close">
        <v-icon>mdi-close</v-icon>
      </v-btn>
        <v-toolbar-title>Login</v-toolbar-title>
    </v-toolbar>

    <v-divider></v-divider>

    <v-container>
        <v-form ref="form" v-model="isFormValid">
            <v-text-field
              v-model="email"
              label="E-mail"
              required
              :rules="emailRules"
              append-icon="mdi-email"
            ></v-text-field>
            <v-text-field
              v-model="password"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showPassword ? 'text' : 'password'"
              label="Password"
              counter
              required
              :rules="passRules"
              @click:append="showPassword = !showPassword"
            ></v-text-field>

            <div class="text-xs-center">
              <v-btn
                :disabled="!isFormValid"
                color="success lighten-1"
                class="mr-4"
                @click="submit"
              >
                Login
                <v-icon right dark> mdi-lock-open </v-icon>
              </v-btn>
              <v-btn
                color="error"
                class="mr-4"
                @click="reset"
              >
                Reset Form
                <v-icon right dark> mdi-refresh </v-icon>
              </v-btn>
              <v-btn
                color="warning"
                class="mr-4"
                @click="close"
              >
                Cancel
                <v-icon right dark> mdi-cancel </v-icon>
              </v-btn>
            </div>

        </v-form>
    </v-container>

  </v-card>
</template>

<script>

import { mapActions } from 'vuex'

export default {
  data(){
    return{
      isFormValid: false,
      email: '',
      password: '',
      showPassword: false,
      apiDomain: "https://demo-api-vue.sanbercloud.com",
      emailRules: [
          v => !!v || 'Email tidak boleh kosong!',
          v => /.+@.+\..+/.test(v) || 'E-mail harus valid',
      ],
      passRules: [
          v => !!v || 'Password tidak boleh kosong!',
          v => (v && v.length >= 8) || 'Password minimal 8 karakter',
      ]
    }
  },

  methods: {
    ...mapActions({
      setAlert : 'alert/set',
      setToken : 'auth/setToken',
    }),

    close(){
      this.$emit('closed', false)
      this.email = '',
      this.password = ''
    },

    submit(){

      const config = {
        method: "post",
        url: this.apiDomain + "/api/v2/auth/login",
        data: {
          'email': this.email,
          'password': this.password,
        }
      }

      this.axios(config)
        .then( (response) => {
          //console.log(response.data)
          this.setToken(response.data.access_token)

          this.setAlert({
              status: true,
              color: 'success',
              text: 'Anda Berhasil Login!',
          })
          this.close()
        })
        .catch( (response) => {
          console.log(response)

          this.setAlert({
              status: true,
              color: 'error',
              text: 'Login Gagal! Silahkan coba lagi',
          })
        })
    },

    reset(){
      this.name = '',
      this.email = '',
      this.password = ''
    }
  },

}
</script>
